.calculator {
  width: 340px;
  height: 540px;
  padding: 10px;
  border-radius: 10px;
  background-color: rgb(216, 70, 70);
}

.title{
  color: aliceblue;
}

.calculator-screen {
  height: 100px;
  width: 100%;
  margin-bottom: 10px;
  padding: 0 10px;
  background-color: #5d08082d;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  color: white;
  font-weight: bold;
  box-sizing: border-box;
}

.calculator-buttons {

}

.Button:hover {
  background-color: #dc6969;
}
